<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="xeus2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <xeus2.Properties.Settings>
            <setting name="XmppResource" serializeAs="String">
                <value>xeus</value>
            </setting>
            <setting name="XmppPriority" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="XmppServer" serializeAs="String">
                <value>jabber.cz</value>
            </setting>
            <setting name="XmppMyPresence" serializeAs="String">
                <value>NONE</value>
            </setting>
            <setting name="UI_DisplayFormat" serializeAs="String">
                <value>"{FullName} ({NickName}) In Group '{Group}'"</value>
            </setting>
            <setting name="MucLeaveMsg" serializeAs="String">
                <value>Goodbye</value>
            </setting>
            <setting name="XmppUserName" serializeAs="String">
                <value />
            </setting>
            <setting name="XmppPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="UI_ErrorDismiss" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="UI_GroupMessagesByMinutes" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="UI_DisplayTime_Muc" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UI_RosterItemSize" serializeAs="String">
                <value>Small</value>
            </setting>
            <setting name="VCardExpirationDays" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="XmppStatusText" serializeAs="String">
                <value>No status message</value>
            </setting>
            <setting name="UI_MsgOldnest_Recent_Min" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="UI_MsgOldnest_Older_Min" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="UI_MsgOldnest_Old_Min" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="UI_MaxHistoryMessages" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="UI_MaxRecentItems" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="UI_DisplayOfflineContacts" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UI_MaxAvatarKb" serializeAs="String">
                <value>8</value>
            </setting>
        </xeus2.Properties.Settings>
    </userSettings>
</configuration>